# Python
__pycache__/
*.py[cod]
*$py.class

# Build artifacts & packaging
*.egg-info/

# Virtual Environment
venv/

# Application Caches & Logs
boltz_cache/
data/processed/

# Local Editor/Tool Config
.obsidian/
