# Python
__pycache__/
*.py[cod]
*$py.class

# Build artifacts & packaging
*.egg-info/

# Virtual Environment
venv_ddg/

# Application Caches & Logs
boltz_cache/

# Local Editor/Tool Config
.obsidian/
